<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration - Avishkar Competition</title>
</head>
<body>
<form action="/register" methods="post">

<section class="head">
    <h1>Registration - Avishkar Competition</h1>
</section>
<section class="mid">
    <label for="name">Name : </label>
    <input type="text" name="name"><br><br>

    <label for="class">Class : </label> 
    <input type="text"name="class"><br><br>

    <label for="grpnm">Group Name : </label>
    <input type="text" name="grpnm"><br><br>

    <label for="prj">Project Name : </label>
    <input type="text" name="prj"><br><br>

    <label for="ppt">Upload PPT : </label>
    <input type="file" name="ppt"><br><br>
</section>
<section class="btn">
    <button action="submit" value="create-date">Submit</button>
</section>
</form>
</body>
</html>